<main class="mn-inner no-p">
  <div class="cyan darken-1">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card card-transparent no-m">
            <div class="card-content  white-text">
              <div class="row">
                <div class="col s12 m6 l6">
                  <h4>Alpha</h4>
                  <address>
                    Melbourne, Australia<br>
                    P: (123) 456-7890
                  </address>
                </div>
                <div class="col s12 m6 l6 right-align">
                  <h4>$7522.00</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card card-transparent no-m">
          <div class="card-content invoice-relative-content">
            <div class="row">
              <div class="col s12 m6 l3">
                <p>
                  <span class="light-blue-text">Date</span><br>
                  <b>Aug 30, 2015</b><br>
                </p>
              </div>
              <div class="col s12 m6 l3">
                <p>
                  <span class="light-blue-text">Due Date</span><br>
                  <b>Nov 12, 2015</b><br>
                </p>
              </div>
              <div class="col s12 m6 l6 right-align">
                <a class="btn-floating btn-large waves-effect waves-light light-green invoice-edit-btn"><i class="material-icons">edit</i></a>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <table class="table responsive-table">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th class="right-align">Quantity</th>
                    <th class="right-align">Cost</th>
                    <th class="right-align">Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>#451</td>
                    <td>Material designed dashboard</td>
                    <td>Build new theme based on Material Design</td>
                    <td class="right-align">23</td>
                    <td class="right-align">$137</td>
                    <td class="right-align">$3157</td>
                  </tr>
                  <tr>
                    <td>#234</td>
                    <td>Fix issues on small screens</td>
                    <td>Make it responsive for mobile and tablet</td>
                    <td class="right-align">13</td>
                    <td class="right-align">$72</td>
                    <td class="right-align">$940</td>
                  </tr>
                  <tr>
                    <td>#782</td>
                    <td>Support for users</td>
                    <td>Give free support to all new users</td>
                    <td class="right-align">36</td>
                    <td class="right-align">$57</td>
                    <td class="right-align">$2080</td>
                  </tr>
                  <tr>
                    <td>#67</td>
                    <td>Test cross-browser compatibility</td>
                    <td>Test theme on several old browsers</td>
                    <td class="right-align">29</td>
                    <td class="right-align">$38</td>
                    <td class="right-align">$1105</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6 l8">
                <span class="heading-title">Thank you !</span>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <img src="assets/images/ignature.png" class="invoice-signature m-t-md" alt="">
              </div>
              <div class="col s12 m6 l4 right-align">
                <div class="text-right">
                  <h6 class="m-t-sm light-blue-text"><b>Subtotal</b></h6>
                  <h5 class="">$7282</h5>
                  <div class="divider"></div>
                  <h6 class="m-t-sm light-blue-text"><b>Shipping</b></h6>
                  <h5 class="">$240</h5>
                  <div class="divider"></div>
                  <h6 class="m-t-md text-success light-blue-text"><b>Total</b></h6>
                  <h4 class="text-success">$7522</h4>
                  <div class="divider"></div>
                  <a class="waves-effect waves-light btn teal">Submit your invoice</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
