<body class="error-page page-404">
<div class="loader-bg"></div>
<div class="loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
</div>
<div class="mn-content">
  <main class="mn-inner">
    <div class="center">
      <h1>
        <span>404</span>
      </h1>
      <span class="text-white">Oops! Something went wrong</span><br>
      <a class="btn-floating btn-large waves-effect waves-light teal lighten-2 m-t-lg"  [routerLink]="['/dashboard']">
        <i class="large material-icons">home</i>
      </a>
    </div>
  </main>
</div>
</body>
